body {
  background-color: #FFCD4B;
}

.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.main-img img {
  width: 20vw;
  height: 40vh;
}

.main-txt {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family: 'Karma', serif;
  margin-top: 20px;
}

hr {
  border: 1px solid black;
}

.wordCloud {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

ul.cloud {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 800px;
  height: 200px;
}

ul.cloud a {
  --size: 4;
  --color: #ffffff;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 1rem 0.9rem;
  position: relative;
  text-decoration: none;
  font-weight: bold;
}

ul.cloud a[data-weight="3"] {
  --size: 3;
}

ul.cloud a[data-weight="4"] {
  --size: 4;
}

ul.cloud a[data-weight="5"] {
  --size: 6;
}

ul.cloud a[data-weight="6"] {
  --size: 8;
}

ul.cloud a[data-weight="7"] {
  --size: 10;
}

ul.cloud a[data-weight="8"] {
  --size: 13;
}

ul.cloud a[data-weight="9"] {
  --size: 16;
}

/* ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
} */

/* ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
} */


.secondContainer {
  display: flex;
  flex-direction: column;
}

.wordText {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 150px;
  gap: 300px;
}

.wordTextCustom1,
.wordTextCustom2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  height: 60px;
  border-radius: 100px;
  font-size: 20px;
}

.wordTextCustom2 {
  margin-top: 60px;
}

.wordText2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 50px;
}

.thirdContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 85px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  background-color: white;
  width: 1300px;
  height: 550px;
  border-radius: 50px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #FFCD4B;
  width: 380px;
  height: 400px;
  border-radius: 50px;
  color: white;
}

.box-text1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 70px;
}

.box-text2 {
  font-size: 25px;
}

@media screen and (max-width:720px) {
  .main-img {
    width: 150px;
    gap: 30px;
  }

  .main-txt {
    font-size: 30px;
    margin-top: 15px;
  }
}

@media screen and (max-width:540px) {
  .maincontainer {
    height: 95vh;
  }

  .main-img {
    gap: 50px;
  }
  
  .main-img img {
    width: 20vw;
    height: 20vh;
  }

  .main-txt {
    font-size: 25px;
    margin-top: 20px;
  }

  .wordCloud{
    display: none;
  }

  .wordText {
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 10px;
  }
  
  .wordTextCustom1,
  .wordTextCustom2 {
    width: 350px;
    height: 70px;
  }
  
  .wordText2 {
    font-size: 25px;
    margin-top: 130px;
    margin-bottom: 160px;
  }
  

  .thirdContainer {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  
  .boxes {
    flex-direction: column;
    gap: 30px;
    width: 450px;
    height: 450px;
    border-radius: 50px;
  }
  
  .box {
    width: 400px;
    height: 100px;
    border-radius: 30px;
  }
  
  .box-text1 {
    font-size: 60px;
    margin-bottom: 0;
  }
  
  .box-text2 {
    display: none;
  }
}