body{
    background-color: #FFCD4B;
    color: white;
}
.title {
    display: flex;
    color: white;
    font-size: 30px;
    gap: 10px;
    margin-left: 70px;
    padding-top: 20px;
}
.title-text {
    font-weight: bold;
}
.quiz{
    font-size: 40px;
}
.answer>.bi{
    font-size: 30px;
}
.quiz-text{
    margin-top: 30px;
    margin-left: 164px;
}
.quiz-text-question{
    font-size: 4rem;
}
.quiz-highlight{
    color: #FF4B91;
}
.answer {
    display: flex;
    flex-direction: row;
    gap: 200px; /* 가로 간격을 200px로 설정 */
    margin-top: 40px;
    justify-content: center;
}

.answer-1 {
    color: #FF4B91;
    background-color: white;
    width: 455px;
    height: 455px;
    border-radius: 40px;
}

.answer-2 {
    color: #0802A3;
    background-color: white;
    width: 455px;
    height: 455px;
    border-radius: 40px;
}
.answer-1,
.answer-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-1 > h1 {
    font-size: 290px;
}

.answer-2 > h1 {
    font-size: 290px;
}

p {
    padding: 10px; /* 패딩 값을 원하는 크기로 조정하세요 */
}


/* 태블릿 */
@media screen and (max-width:720px){
    .title-quiz{
        margin-left: 35px;
    }
    .quiz-text{
        margin-left: 50px;
    }
    .quiz-text-question{
        font-size: 2rem;
    }
    .answer {
        flex-direction: column;
        gap: 54px;
        margin-top: 43px;
        align-items: center;
    }
    
    .answer-1 {
        width: 500px;
        height: 254px;
    }
    
    .answer-2 {
        width: 500px;
        height: 254px;
    }
    .answer-1 > h1 {
        font-size: 150px;
    }
    
    .answer-2 > h1 {
        font-size: 180px;
    }

}

/* 모바일 */
@media screen and (max-width:540px) {
    .title-quiz{
        font-size: 20px;
        margin-left: 35px;
    }
    .quiz{
        font-size: 20px;
    }
    .quiz-text{
        margin-left: 55px;
    }
    .quiz-text-question{
        font-size: 1.7rem;
    }
    .answer {
        gap: 31px;
        margin-top: 42px;
        align-items: center;
    }
    
    .answer-1 {
        width: 333px;
        height: 232px;
    }
    
    .answer-2 {
        width: 333px;
        height: 232px;
    }
    .answer-1 > h1 {
        font-size: 130px;
    }
    
    .answer-2 > h1 {
        font-size: 160px;
    }
}

/* 삭제 예정 */
#next-button {
    position: absolute;
    top: 20px; /* 위 여백 조절 가능 */
    right: 20px; /* 오른쪽 여백 조절 가능 */
}
