body{
    background-color: #FFCD4B;
}

.title{
    display: flex;
    color: white;
    font-size: 25px;
    gap: 5px;
    margin-left: 70px;
    margin-top: 20px;
}

.title-text{
    font-weight: bold;
}