:root {
    --main-color: #FFCD4B;
    --serve-color: #FF4B91;
}
.tip-info {
    background-color: var(--main-color);
}
.title {
    display: flex;
    color: white;
    font-size: 30px;
    gap: 10px;
    margin-left: 70px;
    padding-top: 20px;
}
.title-text {
    font-weight: bold;
}

.tip-title {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 90px;
}
.content-container {
    margin-left: 120px;
    width: 75vw;
}
.content-title {
    font-size: 25px;
    font-weight: bold;
}
.content {
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width:720px) {
    .title {
        font-size: 25px;
        margin-left: 40px;
    }
    .tip-title {
        font-size: 25px;
        margin: 30px 60px;
    }
    .content-container {
        margin-left: 80px;
    }
    .content-title {
        font-size: 20px;
    }
    .content {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:540px) {
    .title {
        font-size: 20px;
        gap: 5px;
        margin-left: 20px;
    }
    .tip-title {
        font-size: 20px;
        margin: 15px 40px;
    }
    .content-container {
        margin-left: 60px;
    }
    .content-title {
        font-size: 16px;
    }
    .content {
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}